In [1]:
#importing class form library pymongo
from pymongo import MongoClient
from database import Database
import pymongo

In [ ]:
#creating instance of class MongoClient
client = MongoClient('localhost' , 27017)

In [ ]:
#Creating databases from instance/object named 'Medicare_report'
db = client['Medicare_report']

<b>#Getting collection</b> <br>
A collection is a group of documents stored in MongoDB, and can be thought of as roughly the equivalent of a table in a relational database. Getting a collection in PyMongo works the same as getting a database

In [ ]:
collections = db['Heart_Beat']

<b>An important note about collections (and databases) in MongoDB is that they are created lazily - none of the above commands have actually performed any operations on the MongoDB server. Collections and databases are created when the first document is inserted into them.</b>

<b> Documents</b> <br> 
Data in MongoDB is represented (and stored) using JSON-style documents. In PyMongo we use dictionaries to represent documents. As an example, the following dictionary might be used to represent a blog post:

In [ ]:
dictionary = {"Name" : "Sangam Man Buddhacharya",
              "Age"  :  21,
              "Sex"  : "Male",
              "Height" : 167
              
             }dictionary =

In [ ]:
print(idd.inserted_id)

In [ ]:
collections.insert_one({"Name" : "Kiran Dawadi",
                       "Age" : 20,
                        "Sex" : "Male",
                       "Height": 170})

In [ ]:
db.list_collection_names()

<b>Getting a Single Document With find_one()</b> <br>

The most basic type of query that can be performed in MongoDB is  find_one(). This method returns a single document matching a query (or None if there are no matches). It is useful when you know there is only one matching document, or are only interested in the first match. Here we use find_one() to get the first document from the posts collection:

In [ ]:
output = collections.find_one({"Age" : 20})
print(output)

In [ ]:
c = output["_id"]
print(c)

In [ ]:
out = collections.find_one({"_id": c})

In [ ]:
print(out)

<b>Bulk Inserts</b> <br>

In order to make querying a little more interesting, let’s insert a few more documents. In addition to inserting a single document, we can also perform bulk insert operations, by passing a list as the first argument to insert_many(). This will insert each document in the list, sending only a single command to the server:

In [ ]:
collection= db["collection2"]

In [ ]:
dictionary = [{"Name" : "Sasi shrestha",
              "Age" : 20,
              "Sex" : "Female",
              "Height" : 160, 
              "user_id" : 0} ,
              
              
              {
                "Name" : "Suman shah",
                "Age" : 21,
                "Sex" : "Male",
                "Height" : 170,
                "user_id" : 1
              } ,
                 
              
                {
                "Name": "Prashant Bhatta",
                "Age" : 18,
                "Height" : 160,
                "Sex" : "Male",
                    "user_id" :2
                } ,
              
              {
                "Name": "Prashant Bhatta",
                "Age" : 18,
                "Height" : 160,
                "Sex" : "Male",
                    "user_id" :2
                } 
              ]

collection.insert_many(dictionary)

In [ ]:
for coll in collection.find({"Age" : {"$gt" : 10 }}).sort("Name"):
    print(coll)

In [ ]:
collection.count_documents({})

<b>Indexing </b> <br>

Adding indexes can help accelerate certain queries and can also add additional functionality to querying and storing documents. In this example, we’ll demonstrate how to create a unique index on a key that rejects documents whose value for that key already exists in the index.

In [ ]:
index = db.ind.create_index([('user_id' , pymongo.ASCENDING)], unique = True)

In [ ]:
db.ind.insert_many(dictionary)

In [ ]:
for c in db.ind.find():
    print(c)

In [ ]:
db.list_collection_names()
{'_id': ObjectId('5cdc37b98d29b05be907cdc7'), 'Name': 'Suman shah', 'Age': 21, 'Sex': 'Male', 'Height': 170, 'user_id': 1}
{'_id': ObjectId('5cdc37b98d29b05be907cdc8'), 'Name': 'Prashant Bhatta', 'Age': 18, 'Height': 160, 'Sex': 'Male', 'user_id': 2}
db.list_collection_names()

In [ ]:
collections = db['collection2']

In [ ]:
for i in collections.find({'Date_of_measure' : { " $elemMatch" : {'Height' : 167}}}):
    print(i)

In [ ]:
my_style_dictionary ={
                        "Name" : "Sangam Man Buddhacharya",
                        "Age" : 21,
                        "User_id":"073Bex438",
                        "Date":"2076-07-21",
                        "DOB" : "2054-05-21",
                        "DOM" : [{
                                    "Height": 167,
                                    "weight": 64,
                                    "Water":54.6,
                                    "Fat":14.5
                                 }]
                    
}

In [ ]:
collections.insert_one(my_style_dictionary)

In [ ]:
db.Heart_beat.drop()

In [ ]:
for i in collections.find({"User_id" : "073Bex438"}).sort("Date"):
    print(i)

In [ ]:
dic = {
    
                        "Name" : "Sashi Shrestha",
                        "Age" : 21,
                        "User_id":"073Bex437",
                        "DOB" : "2054-05-21",
                        "info":[{ "Date": 75,
                                  "Height": 167,
                                  "weight": 64,
                                  "Water":54.6,
                                 "Fat":14.5},
                                 
                                {"Date": 75,
                                  "Height": 167,
                                  "weight": 64,
                                  "Water":54.6,
                                 "Fat":14.5} 
                                
                            ]

}

In [ ]:
collections.insert_one(dic)

In [ ]:
for i in collections.find({'User_id' : '073Bex437'} ,{'info' : {'$elemMatch' :{'Height' : 167,'Date': 74}}} ):
    print(i)

In [ ]:
dic ={
    "date" : [{"2075" : 5 ,"2074" : 8}]
}

In [ ]:
collections.insert_one(dic)

In [ ]:
c = collections.find({"date.2075" : 5})

In [ ]:
for i in c:
    print(i)

In [ ]:
dic

In [ ]:
dic

In [ ]:
$push()

In [ ]:
collections

In [ ]:
m  = [ c for c in collections.find( {"$and" :[{'Name' : 'Sashi Shresth'} ,{"DOB" : "2054-05-21"}] } )]
print(m)

In [ ]:
for i in collections.find({})

In [2]:
data = Database()

In [3]:
localhost = 27017
database = "Medicare_report"
collections = "collection2"
data.initialize(localhost ,database, collections)

In [ ]:
Name= 'Suamn Shah'
Age= 21
DOB='2054-05-11'

data.Register(Name, DOB, Age)

In [ ]:
c = [i for i in collections.find({"$and":[{ 'Name' : Name} ,{'Age' : Age} , {'DOB': DOB}]})]

In [ ]:
print(c)

In [4]:
data.Login(3)

Name ====>Suamn Shah
Age  ====>21
DOB  ====>2054-05-11
User_id =>3

In [ ]:
print(c)